<form class="form-horizontal">



<div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="" class="col-xs-4"> Task Name </label>
          <div class="col-xs-8">
             <input type="text" class="form-control" id="task" placeholder="Task Name" ng-model="task.name">
          </div>
        </div>
      </div>
</div>

<div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="" class="col-xs-4"> Task Details </label>
          <div class="col-xs-8">
              <textarea  class="form-control" id="description" ng-model="task.description"></textarea>
          </div>
        </div>
      </div>
</div>




  <div class="form-group" style="margin-bottom: 8px;">
    <label for="task" class="col-sm-2 control-label">Task Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="task" placeholder="Task Name" ng-model="task.name">
    </div>
  </div>

  <div class="form-group" style="margin-bottom: 8px;">
    <label for="" class="col-sm-2 control-label">Task Description</label>
    <div class="col-sm-10">
      <textarea  class="form-control" id="description" ng-model="task.description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div>
        <label>
          <input type="checkbox" ng-model="task.done"> Done
        </label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
      <button class="btn btn-default btn-sm"  ng-click="saveTable()"
        translate="table.save" ng-disabled="newTableForm.$invalid">Save</button>
      <button class="btn btn-default btn-sm" ng-click="cancel()"
        translate="global.cancel">Cancel</button>
  </div>
</form>
