<!DOCTYPE html>
<html lang="en" ng-app="timeTracker">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="public/libs/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="public/libs/bootstrap/dist/css/bootstrap-theme.min.css">
  <link href="public/libs/todc-bootstrap/dist/css/todc-bootstrap.min.css" rel="stylesheet">
  <!-- <link href="public/libs/todc-bootstrap/examples/non-responsive/non-responsive.css" rel="stylesheet"> -->
  <link href="css/app.css" rel="stylesheet">
  <title>Time Tracker</title>
</head>
<body>

 <!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Todo List</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar">
          <li><a href="#/todo">New Task</a></li>
        </ul>
      </div>
    </div>
  </nav>
 -->


<!-- Fixed navbar -->
    <div class="navbar-default">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand" >Team Task Tracker</span>
        </div>
      </div>
    </div>



    <!-- <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="" class="col-xs-5"><spantranslate="table.tableDesc">Table
            Description</label>
          <div class="col-xs-7">
            <input type="text" name="tableDesc" class="form-control"
              ng-model="ManageTableModuleObj.CreateOrUpdateTable.tableDesc" pattern="[a-zA-Z0-9_ ]+"
              maxlength="50">
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="" class="col-xs-5" translate="table.tableSeq">Sequence
            Name</label>
          <div class="col-xs-7">
            <input type="text" name="sequenceName" class="form-control"
              ng-model="ManageTableModuleObj.CreateOrUpdateTable.sequenceName" pattern="^([a-zA-Z])([a-zA-Z\d\_]*)([a-zA-Z\_])$"
              maxlength="30">
          </div>
        </div>
      </div>
    </div> -->
    <!-- Begin page content -->
    <div class="container" >
     <div ng-view>

        <div class="row" style="margin-bottom: 8px;">
          <div class="col-xs-12">
              <div class="form-group">
                <label class="col-xs-4">Task Assinged</label>
                <div class="col-xs-8">
                  <input type="text" class="form-control" id="task" placeholder="Task Name" ng-model="task.name">
                </div>
              </div>
          </div>
          </div>

        <div class="row" style="margin-bottom: 8px;">
          <div class="col-xs-12">
              <div class="form-group">
                <label class="col-xs-4">Task Details</label>
                <div class="col-xs-8">
                 <textarea  class="form-control" id="description" ng-model="task.description"></textarea>
                </div>
              </div>
          </div>
          </div>

        <div class="row" >
      <div class="col-xs-12">
        <div class="form-group">
          <label for="" class="col-xs-4"> Start time </label>
          <div class="col-xs-8">
               {{currentDate | currentDate:'yyyy-MM-dd'}}
               <input type="hidden" class="form-control" id="task" placeholder="Task Name" ng-model="task.currtime">
          </div>
        </div>
      </div>
</div>

        <!--  <div class="form-group">

            <label for="task" class="col-sm-2 control-label">Task Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="task" placeholder="Task Name" ng-model="task.name">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-2 control-label">Task Description</label>
            <div class="col-sm-10">
              <textarea  class="form-control" id="description" ng-model="task.description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="task.done"> Done
                </label>
              </div>
            </div>
          </div> -->

        <div class="pull-right">
          <button class="btn btn-default btn-sm"  ng-click="saveTask()"
            translate="table.save" ng-disabled="newTableForm.$invalid">Save</button>
          <button class="btn btn-default btn-sm" ng-click="cancel()"
            translate="global.cancel">Cancel</button>
        </div>

     </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="footer-block">Footer</p>
      </div>
    </div>




<!-- Scripts Block -->
<script type="text/javascript" src="public/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="public/libs/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="public/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/task/tasknoteController.js"></script>


</body>
</html>
